* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: interface, "Helvetica Neue", helvetica, sans-serif;
}

.Header {
  color: white;
  padding-top: 1rem;
  width: 100%;
  gap: 2rem;
  /* position: relative; */
  display: flex;
}
.Search-bar {
  width: 50rem;
  font-size: 2rem;
}
.Search-btn {
  font-size: 2rem;
  height: 2.5rem;
  width: 5rem;
  border: none;
  background-color: pink;
}

.Search-btn:hover {
  cursor: pointer;
}

body {
  background-color: rgb(18, 18, 18);
}

.App {
  /* width: 100%; */
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.loading {
  display: flex;
  margin: 100% 0;
  gap: 1rem;
}

/* .loading span {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 4rem;
  background-color: rgb(223, 4, 223);
  color: white;
  display: block;
} */
/* .loading span:nth-child(1) {
  background-color: orange;
}
.loading span:nth-child(2) {
  background-color: rgb(223, 4, 223);
}
.loading span:nth-child(3) {
  background-color: rgb(0, 132, 255);
}
.loading span:nth-child(4) {
  background-color: red;
} */
.Giphy {
  color: white;
  font-size: 2rem;
}
/* djfgeydbwuhdhcbc*/
.Gif-Grid {
  display: grid;
  color: white;
  width: 80%;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding-bottom: 2rem;
}

/* .Gif-Grid > * {
  flex: 1 1 30%;
  height: 50rem;
} */

.Grid-print {
  color: white;
  font-size: 2rem;
  display: inline-block;
}
/* #trending {
  display: inline-block;
} */

.Gif {
  width: 100%;
  /* height: 30rem; */
}
.img {
  width: 100%;
  height: 20rem;
}

.loading-span {
  color: white;
  font-size: 4rem;
  display: block;
}

.logo-control {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.Nav > * {
  font-size: 1.6rem;
  color: white;
  display: flex;
  align-items: center;
  display: inline-block;
  border-bottom: 4px solid white;
  /* text-decoration: none; */
  /* border-bottom: 5px; */
  transition-duration: 500ms;
}

.Nav > *:hover {
  cursor: pointer;
  background-color: #3191ff;
  /* border-color: */
  transition-delay: 100ms;
}

.Nav {
  display: flex;
  gap: 1rem;
}

.sticker {
  color: white;
  font-size: 2rem;
}

.noentry {
  color: white;
  font-size: 2rem;
}
